.menuloc {
  position: absolute;
  top: 39%;
  left: 9%;
  z-index: 99;
}

.welcome {
  position: absolute;
  top: 2%;
  left: 37%;
  color: #51c5dd;
}
.background {
  background-color: white;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  /* background-size: 100% 100%; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.profile-image {
  object-fit: cover;
  /* border: 1px solid transparent; */
  border-radius: 50%;
  max-height: 20vh;
  max-width: 15vw;
}
.name {
  padding-right: 137px;
}

.secondiv {
  display: flex;
}
.role {
  padding-right: 140px;
}

.profileCard {
  padding: 18px;
  position: absolute;
  border: 1px solid var(--blue);
  border-radius: 10px;
  background-color: var(--white);
  color: var(--blue);
  height: 45vh;
  width: 40vw;
  top: 30%;
  left: 22%;
}
.but {
  padding: 3px 8px;
  position: absolute;
  left: 600px;
  top: 250px;
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  background-color: rgb(1, 1, 55);
}
.cardcontent {
  width: 90%;
  display: flex;
  /* flex-direction: ; */
  align-items: center;
  justify-content: space-around;
}

.cardcontent {
  padding: 60px 20px 60px 40px;
  display: flex;
  justify-content: space-between;
}

.direction{
  display: flex;
  flex-direction: column;
}

.direction:first-child{
  align-items: end;
}