.menuloc {
  position: absolute;
  top: 20%;
  left: 9%;
  z-index: 99;
}
.welcome {
  position: absolute;
  top: 2%;
  left: 37%;
  color: #51c5dd;
}
.background {
  background-image: url("./ERP-1.jpg");
  width: 100vw;
  height: 100vh;
}

.profile_image {
  border: 1px solid transparent;
  border-radius: 50%;
}
.name {
  padding-right: 137px;
}
.role {
  padding-right: 140px;
}

.profileCard {
  position: absolute;
  border: 1px solid transparent;
  border-radius: 30px;

  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  color: white;
  width: 30%;
  top: 25%;
  left: 30%;

}
.cardcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardcontent {
  padding: 40px;
}
