.menuloc {
  position: absolute;
  top: 39%;
  left: 9%;
  z-index: 99;
}

.welcome {
  position: absolute;
  top: 2%;
  left: 37%;
  color: #51c5dd;
}
.background {
  background-image: url("./back.jpg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  /* background-size: 100% 100%; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.profile-image {
  /* border: 1px solid transparent; */
  /* border-radius: 50%; */
  height: 20vh;
  width: 15vw;
}
.name {
  padding-right: 137px;
}

.secondiv {
  display: flex;
}
.role {
  padding-right: 140px;
}

.profileCard {
  position: absolute;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.11);
  backdrop-filter: blur(5px);
  color: rgb(1, 1, 55);
  height: 40vh;
  width: 40vw;
  top: 25%;
  left: 30%;
}
.but {
  padding: 3px 8px;
  position: absolute;
  left: 600px;
  top: 250px;
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  background-color: rgb(1, 1, 55);
}
.cardcontent {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.cardcontent {
  padding: 60px 20px 60px 40px;
  display: flex;
  justify-content: space-between;
}

.direction{
  display: flex;
  flex-direction: column;
}

.direction:first-child{
  align-items: end;
}