.projectsWrapper {
  width: 90vw;
  margin-left: 250px;
}

.projectsTitle {
  display: flex;
  justify-content: center;
  font-size: 36px;
  margin-top: 36px;
  margin-bottom: 36px;
}

.deleteTeamForm {
  width: 50%;
  margin-left: 130px;
  margin-top: 24px;
  font-size: 16px;
  font-weight: lighter;
}

.tableTitle {
  background-color: #0a4f70 !important;
  border-left: 1px solid white;
  font-size: 24px !important;
}
