.projectcontainer {
  margin-left:22vh;
  margin-top: 20vh;
}



.deleteTeamForm {
  width: 50%;
  margin-left: 130px;
  margin-top: 24px;
  font-size: 16px;
  font-weight: lighter;
}

.tableTitle {
  background-color: #0a4f70 !important;
  border-left: 1px solid white;
  font-size: 24px !important;
}

.postproject{
  display: flex;
  justify-content: flex-end;
  gap: 30vw;
}