.card{
  margin-top: 15vh;
  padding-bottom: 100px;
  border: 1px solid transparent;
  border-radius: 20px;
  width:20vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  background-color: rgb(203, 203, 203);
  margin-left: 13vw;
  
}
#thumb{
  width: 100px;
  height: 100px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.profile:hover{
  color:black;
  background-color: white;
  border: 1px solid black;

}