.employeeWraper {
  height: 100vh;
  background-color: #f7f6f6;
}

.employee-page {
  width: 85vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.emplo {
  display: flex;
}

.addEmployeeBtn:hover {
  background-color: #0a4f70 !important;
  color: white;
}
