.employeeWraper {
  height: 100%;
  margin-left: 11.5vw;
  margin-top: 20.5vh;
  /* margin-top: 30.vh; */
  /* background-color: #f7f6f6; */
}

.employee-page {
  width: 85vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  /* padding-top: 32px; */
}
.emplo {
  display: flex;
}


.addEmployeeBtn:hover {
  background-color: #0a4f70 !important;
  color: white!important;
}
