
.employee-page{
    width: 85vw;
    /* margin-left: 16vw; */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.emplo{
    display: flex;
    justify-content: space-between;
}


